
@import "variables.scss";
@import "../../node_modules/bulma/bulma.sass";
@import "overrides.scss";
html{ background-color: transparent; overflow-y:show;}

body{ background-color: #002B36; }
canvas{ width:100%; height:100%;}
#renderCanvas{ z-index:1;  position:absolute; top:0; display:none; /*opacity:0.95 */}
#debugCanvas{z-index:10; position:absolute; top:0; border:1px solid #f00; width:100%; height:100%; display:none; } 



